<h2>Update task</h2>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <br><br>
  <%= f.label :details %>
  <%= f.text_field :details %>

  <br><br>
  <%= f.label :completed %>
  <%= f.check_box :completed %>

  <br><br>
  <%= f.submit %>
<% end %>
<br><br>

<%= link_to "Back to list", tasks_path %>
